[Unit]
Description = Multichain Crawler
After = network-online.target

[Service]
Type = simple
Environment="PYTHONPATH=<path to twistd>:<path to tribler>"
ExecStart = /usr/bin/twistd multichain_crawler --statedir "<path to multichain state directory & place logger.conf there>"
Restart = always

[Install]
WantedBy = multi-user.target


