html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    overflow: hidden;
    -webkit-user-select: none;
}

.line {
    box-shadow: 10px 10px 5px #888888;
}

.quantity {
    padding: 0 10px 0 0;
}

svg#graph {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.hoverInfoLabel {
    position: absolute;
    padding: 7px;
    font: 12px sans-serif;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
    display: table;
}

.tooltip {
    position: absolute;
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: #E67300;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

#inspector {
    font: 14px/22px sans-serif;
    width: 300px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: 2px solid #333;
    color: white;
    padding: 20px;
}

.badge {
    padding: 5px;
    margin: -5px 5px 5px -5px;
    border-radius: 5px;
    color: #202020;
}

.badge.inline {
    margin-left: 5px;
    margin-right: 5px;
}

#inspector h2.title {
    line-height: 120%;
    margin-top: 0;
}

#inspector .subtitle {
    color: #999;
    display: block;
    font-weight: normal;
    font-size: 80%;
}

button {
    font: 14px/18px sans-serif;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    background: transparent;
    color: white;
    font-weight: bold;
    -webkit-transition: all .3s;
    cursor: pointer;
    opacity: 1;
    outline: 0;
}

button.disabled {
    opacity: .2;
    cursor: default;
}

button:not(.disabled):hover {
    background: white;
    color: #202020;
}

#nav-bar {
    position: absolute;
    right: 0;
    top: 0;
}

#nav-bar button {
    float: right;
    margin-left: 5px;
}
