[flake8]
max-line-length = 120
extend-ignore =
  I201, # Missing newline between import groups
  I202, # Additional newline in a group of imports
  E127, # continuation line over-indented for visual indent
  E128, # continuation line under-indented for visual indent
  E131, # continuation line unaligned for hanging indent
  F722, # syntax error in forward annotation '20s'
  E731, # do not assign a lambda expression, use a def
  F401, # Pylint-checked, module imported but unused
  F841, # Pylint-checked, local variable is assigned to but never used
  E722, # Pylint-checked, do not use bare 'except'
  E501 # Pylint-checked, line too long
import-order-style=pycharm
application_import_names = tribler
