*.bak
*.pyc
*.pyo
*~
.DS_Store
.ropeproject
/*.log
/.Tribler
/.coverage
/.dir-locals.el
/.gdb_history
/.idea/
/.noseids
/.project
/.pydevproject
/Tribler/.project
/Tribler/.pydevproject
/TAGS
/bootstraptribler.txt
/core
/debian/files
/debian/tribler.debhelper.log
/debian/tribler.postinst.debhelper
/debian/tribler.postrm.debhelper
/debian/tribler.prerm.debhelper
/debian/tribler.substvars
/debian/tribler/
/output
\#*\#
\.\#
flycheck_*
memorydump.out
test_file
test_file.torrent

# pycharm
**.idea/
