# Python
*.pyc
*.pyo

# Apple
.DS_Store

.*project
local.properties
*.bak
*~
/*.log
/.Tribler
/.coverage
/.dir-locals.el
/.gdb_history
**.idea/
/.noseids
/TAGS
/bootstraptribler.txt
/core
/debian/files
/debian/tribler.debhelper.log
/debian/tribler.postinst.debhelper
/debian/tribler.postrm.debhelper
/debian/tribler.prerm.debhelper
/debian/tribler.substvars
/debian/tribler/
/output
\#*\#
\.\#
flycheck_*
memorydump.out
test_file
test_file.torrent

# Ignore nosetest coverage output
cover/
htmlcov/
.coverage

# Ignore nosetest output logs
Tribler/Test/logs/
# Ignore trial temp dirs
_trial_temp*/
_trial_temp*.lock

# Android
*.apk

/android/TriblerService/dist
/android/TriblerService/typescript

/android/TriblerApp/app/src/main/jniLibs
/android/TriblerApp/app/src/main/jni/include/python2.7
/android/TriblerApp/app/src/main/jni/lib
/android/TriblerApp/app/src/main/assets/private.mp3

# Android Studio
/android/TriblerApp/app/*.iml
/android/TriblerApp/*.iml
/android/TriblerApp/app/build
/android/TriblerApp/build
/android/TriblerApp/.gradle
/android/TriblerApp/captures

# Documentation
doc/_build/

# Twisted
twisted/plugins/dropin.cache
twistd.pid

# PyInstaller
build/
dist/

# Annotation files
annotations.txt

# Screenshots taken by GUI tests
TriblerGUI/screenshots

# Tests output directory
Tribler/Test/temp
