*.bak
*.pyc
*.pyo
*~
.ropeproject
/*.log
/.Tribler
/.dir-locals.el
/.gdb_history
/.noseids
/.project
/.pydevproject
/TAGS
/Tribler/Test/data/*.sdb
/Tribler/Test/test_.Tribler/
/Tribler/Test/test_.Tribler2
/Tribler/Test/test_TriblerDownloads2
/Tribler/community/tunnel/.Tribler*
/bootstraptribler.txt
/core
/debian/files
/debian/tribler.debhelper.log
/debian/tribler.postinst.debhelper
/debian/tribler.postrm.debhelper
/debian/tribler.prerm.debhelper
/debian/tribler.substvars
/debian/tribler/
/output
\#*\#
memorydump.out
\.\#
flycheck_*
test_file
test_file.torrent
.DS_Store
