[MESSAGES CONTROL]
disable=C0321,W0142,C0111

[FORMAT]
max-line-length=120
max-module-lines=3000

[BASIC]
no-docstring-rgx=_.*
method-rgx=[a-z_][A-Za-z0-9_]{2,30}$

[TYPECHECK]
ignored-classes=SQLObject,twisted.internet.reactor,ephem
