version: "3.3"

services:
  tribler-core:
    image: triblercore/triblercore:latest
    container_name: triblercore
    network_mode: "host"
    build: .
    volumes:
      - ~/.Tribler:/home/user/.Tribler
    environment:
      CORE_API_PORT: 20100

