<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
      <dict>
         <key>CFBundleTypeExtensions</key>
         <array>
            <string>torrent</string>
         </array>
         <key>CFBundleTypeIconFile</key>
         <string>TriblerDoc</string>
         <key>CFBundleTypeMIMETypes</key>
         <array>
            <string>application/x-bittorrent</string>
         </array>
         <key>CFBundleTypeName</key>
         <string>BitTorrent Meta-Info</string>
         <key>CFBundleTypeOSTypes</key>
         <array>
            <string>BTMF</string>
         </array>
         <key>CFBundleTypeRole</key>
         <string>Viewer</string>
         <key>NSDocumentClass</key>
         <string>DownloadDocument</string>
      </dict>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
				<string>fold</string>
				<string>disk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Tribler</string>
	<key>CFBundleIconFile</key>
	<string>tribler.icns</string>
	<key>CFBundleIdentifier</key>
	<string>Tribler</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Tribler</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
</dict>
</plist>
