-r pyipv8/requirements.txt

cryptography==46.0.7  # FIXME: Workaround for deprecated curves!
ipv8-rust-tunnels
lz4
pillow
pony
pystray
pywin32;sys_platform=="win32"

--extra-index-url https://tribler.github.io/pypi/simple/
libtorrent==2.1.0
