-r requirements.txt

pytest==7.4.3
pytest-aiohttp==1.0.5
pytest-asyncio==0.21.1
pytest-randomly==3.15.0
pytest-timeout==2.2.0
pylint-pytest==1.1.7

coverage==7.3.2
looptime==0.2 ; sys_platform != 'win32'

# for pyqt5 test
pytest-qt==4.2.0
