-r requirements.txt

pytest==7.4.0
pytest-aiohttp==1.0.4
pytest-asyncio==0.21.1
pytest-randomly==3.13.0
pytest-timeout==2.1.0
pytest-rerunfailures==12.0
pytest-sentry==0.1.16
pytest-freezegun==0.4.2
pytest-xdist==3.3.1
pytest-cov==4.1.0
eventlet==0.33.3; sys_platform == 'linux2' or sys_platform == 'linux'

looptime==0.2 ; sys_platform != 'win32'

# for pyqt5 test
pytest-qt==4.2.0
