-r requirements.txt

pytest==7.2.2
pytest-aiohttp==1.0.4
pytest-asyncio==0.20.3
pytest-mock==3.10.0
pytest-randomly==3.12.0
pytest-timeout==2.1.0
pytest-freezegun==0.4.2
pytest-rerunfailures==11.1.2
pytest-sentry==0.1.16
pytest-profiling==1.7.0 # for pytest profiling

freezegun==1.2.1
coverage==6.3.2
looptime==0.2

scipy==1.10.0
