<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tribler.android">

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <!-- uses-permission android:name="android.permission.CAMERA" / -->
    <!-- uses-permission android:name="android.permission.RECORD_AUDIO" / -->
    <!-- uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" / -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" / -->
    <!-- uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" / -->
    <!-- uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" / -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- uses-permission android:name="android.permission.BLUETOOTH_ADMIN" / -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" / -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- uses-permission android:name="android.permission.TRANSMIT_IR" / -->
    <!-- uses-permission android:name="android.permission.USE_FINGERPRINT" / -->
    <!-- uses-permission android:name="android.permission.INSTALL_SHORTCUT" / -->
    <!-- uses-permission android:name="android.permission.UNINSTALL_SHORTCUT" / -->
    <!-- uses-permission android:name="android.permission.GET_PACKAGE_SIZE" / -->
    <!-- uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" / -->
    <!-- uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" / -->
    <!-- uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" / -->
    <!-- uses-permission android:name="android.permission.DISABLE_KEYGUARD" / -->
    <!-- uses-permission android:name="android.permission.EXPAND_STATUS_BAR" / -->
    <!-- uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" / -->
    <!-- uses-permission android:name="android.permission.READ_SYNC_STATS" / -->
    <!-- uses-permission android:name="android.permission.READ_SYNC_SETTINGS" / -->
    <!-- uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" / -->
    <!-- uses-permission android:name="android.permission.VIBRATE" / -->
    <!-- uses-permission android:name="android.permission.BROADCAST_STICKY" / -->
    <!-- uses-permission android:name="android.permission.REORDER_TASKS" / -->
    <!-- uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" / -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".service.TriblerdService"
            android:label="Tribler service"
            android:process=":service_Triblerd" />
        <service
            android:name=".service.TwistdService"
            android:label="Tribler profiler"
            android:process=":service_Twistd" />
        <service
            android:name=".service.NoseTestService"
            android:label="Tribler testing service"
            android:process=":service_NoseTestService" />
        <service
            android:name=".service.ExperimentService"
            android:label="Tribler experiment"
            android:process=":service_ExperimentService" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.p2p.STATE_CHANGED" />
                <action android:name="android.net.wifi.p2p.DISCOVERY_STATE_CHANGE" />
                <action android:name="android.net.wifi.p2p.PEERS_CHANGED" />
                <action android:name="android.net.wifi.p2p.CONNECTION_STATE_CHANGE" />
                <action android:name="android.net.wifi.p2p.THIS_DEVICE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/action_search"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BeamActivity"
            android:label="@string/action_send_app"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WifiActivity"
            android:label="@string/action_send_app"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChannelActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditChannelActivity"
            android:label="@string/action_edit_channel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExperimentActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NoseTestActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfilerActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TorrentActivity"
            android:parentActivityName=".ChannelActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tribler.android.ChannelActivity" />
        </activity>
        <activity
            android:name=".CreateTorrentActivity"
            android:label="@string/action_create_torrent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CopyFilesActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>