<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="${applicationId}">

    <uses-sdk
        android:minSdkVersion="16"
        tools:overrideLibrary="android.support.test.uiautomator.v18" />
</manifest>