[Unit]
Description = Multichain Crawler
After = network-online.target

[Service]
Type = simple
Environment="PYTHONPATH=/opt/tribler"
User=multichain_crawler
Group=multichain_crawler
WorkingDirectory=/opt/tribler
ExecStart = /usr/bin/twistd -n --logfile=- --pidfile= multichain_crawler
Restart = always

[Install]
WantedBy = multi-user.target
