[Unit]
Description = TriblerChain Crawler
After = network-online.target

[Service]
Type = simple
Environment="PYTHONPATH=/opt/tribler"
User=triblerchain_crawler
Group=triblerchain_crawler
WorkingDirectory=/opt/tribler
ExecStart = /usr/bin/twistd -n --logfile=- --pidfile= triblerchain_crawler
Restart = always

[Install]
WantedBy = multi-user.target
