[Unit]
Description = Trustchain Crawler
After = network-online.target

[Service]
Type = simple
Environment="PYTHONPATH=/opt/tribler"
User=trustchain_crawler
Group=trustchain_crawler
WorkingDirectory=/opt/tribler
ExecStart = /usr/bin/twistd -n --logfile=- --pidfile= trustchain_crawler
Restart = always

[Install]
WantedBy = multi-user.target
