sphinxcontrib-httpdomain==1.5.0
sphinxcontrib.openapi
cryptography
aiohttp
aiohttp_apispec
mock
sphinx_rtd_theme
configobj
pydantic
sphinxcontrib-openapi
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
sphinx>=3.0.4 # not directly required, pinned by Snyk to avoid a vulnerability