@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 4.9%;

    --primary: 0 0% 20%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 11.2%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 46.9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 91.4%;
    --input: 0 0% 91.4%;
    --ring: 0 0% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 12%;
    --foreground: 0 0% 98%;

    --card: 0 0% 5%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 5%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 91%;
    --primary-foreground: 0 0% 18%;

    --secondary: 0 0% 17%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 17%;
    --muted-foreground: 0 0% 65%;

    --accent: 0 0% 17%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 17.5%;
    --input: 0 0% 17.5%;
    --ring: 0 0 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

header {
  background-color: #F9F9F9;
}
.dark header {
  background-color: #1C1917;
}

.resizer {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  width: 5px;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

th,
.th {
  position: relative;
}

.autocomplete-wrapper {
  position: relative;
  width: 300px;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #e9e9e9;
}