Source: tribler
Section: net
Priority: optional
Maintainer: Ying-Chun Liu (PaulLiu) <paulliu@debian.org>
Build-Depends: debhelper (>= 9),
               dh-python,
               dpkg-dev (>= 1.16.1~),
               python (>= 2.7.0),
               python-setuptools,
Standards-Version: 3.9.5
Homepage: https://www.tribler.org/
X-Python-Version: 2.7

Package: tribler
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         ffmpeg | libav-tools,
         libjs-excanvas,
         libjs-mootools,
         libsodium18 | libsodium13,
         libx11-6,
         python-apsw,
         python-chardet,
         python-cherrypy3,
         python-configobj,
         python-cryptography,
         python-decorator,
         python-dnspython,
         python-ecdsa,
         python-feedparser,
         python-jsonrpclib,
         python-keyring,
         python-keyrings.alt,
         python-leveldb,
         python-libnacl,
         python-libtorrent (>= 0.16.18),
         python-m2crypto,
         python-matplotlib,
         python-meliae,
         python-netifaces,
         python-networkx,
         python-pbkdf2,
         python-pil,
         python-protobuf,
         python-psutil,
         python-pysocks | python-socks,
         python-pyqt5,
         python-pyqt5.qtsvg,
         python-requests,
         python-twisted,
         vlc (>= 1.1.0),
Recommends: python-treq,
Description: Python based Bittorrent/Internet TV application
 It allows you to watch videos and download content. Tribler aims to combine
 the ease of Youtube.com with the performance of peer-to-peer.
 .
 Tribler is backwards compatible with the Bittorrent download protocol. To
 discover interesting content standard RSS feeds with .torrent links are
 supported plus the "Tribe protocol" which automatically scans the network for
 available Bittorrent swarms upon startup. Tribler uses an embedded web
 browser to access video clips of Youtube.com and Liveleak.com. Other features
 are "People who like this also like" for recommending related swarms, the
 ability to make friends, and to donate idle upload capacity to friends. The
 later can improve download speed by a factor of two on asymmetric Internet
 links. The fastest way of social file sharing.
