/**************************************************
 * DIALOG (Base Styles)
 **************************************************/

.dlg-window {
	-moz-border-radius: 5px 5px 0 0;
	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15), 0 0 6px rgba(0, 0, 0, 0.10);
	-webkit-border-radius: 5px 5px 0 0;
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15), 0 0 6px rgba(0, 0, 0, 0.10);
	background-color: #FFFFFF;
	border: 2px solid #C0C0C0;
	border-bottom-color: #A0A0A0 !important;
	border-radius: 5px 5px 0 0;
	border-right-color: #A0A0A0 !important;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15), 0 0 6px rgba(0, 0, 0, 0.10);
	color: #000000;
	display: none;
	left: 0px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	z-index: 500;
}

.dlg-head {
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	background: #F5F5F5 url(./images/blank.gif) no-repeat 0.3em 0.3em;
	border-bottom: 1px solid #C0C0C0;
	border-radius: 4px 4px 0 0;
	color: #A0A0A0;
	font-weight: bold;
	height: 1.2em;
	left: 0;
	line-height: 1.2em;
	overflow: hidden;
	padding: 0.3em 22px;
	position: absolute;
	right: 0;
	top: 0;
/*	white-space: nowrap;*/
/*	width: 100%; */
	z-index: 1;
}

.dlg-body {
	margin: 1.8em 0 2.1em 0;
	padding: 5px;
	position: relative;
}

.dlg-body:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.dlg-close {
	height: 14px;
	position: absolute;
	right: 0.3em;
	top: 0.3em;
	width: 14px;
	z-index: 2;
}

.dlg-close {
	background: transparent url(./images/close.png) no-repeat 0px 0px;
}

	.dlg-close:hover { background-position: -14px; }
	.dlg-close:active { background-position: -28px; }

.dlg-foot {
	background: #F0F0F0;
	border-top: 1px solid #D0D0D0;
	bottom: 0;
	height: 1.5em;
	padding: 0.3em;
	position: absolute;
	right: 0;
	text-align: right;
	width: 100%;
}

.dlg-top {
	-moz-box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.25), 0 0 8px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.25), 0 0 8px rgba(0, 0, 0, 0.15);
	border-color: #989898;
	border-bottom-color: #707070 !important;
	border-right-color: #707070 !important;
	box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.25), 0 0 8px rgba(0, 0, 0, 0.15);
}

.dlg-top .dlg-head {
	background-color: #E0E0E0;
	border-color: #989898;
	color: #202020;
}


/**************************************************
 * DIALOG: Dialog Icons
 **************************************************/

.dlgIcon-Copy {
	background-image: url(./images/clipboard.png);
}

.dlgIcon-Delete {
	background-image: url(./images/delete.png);
}

.dlgIcon-Label {
	background-image: url(./images/label.png);
}


/**************************************************
 * DIALOG: About
 **************************************************/

#dlgAbout {
	width: 20em;
}

#dlgAbout .centered-about-body {
	margin-top: 40px;
	width: 170px;
	margin-left: auto;
	margin-right: auto;
}

#dlgAbout .content {
	margin-left: 15px;
	font-size: 13px;
}

#dlgAbout .dlg-body {
	margin-bottom: 0 !important;
}

#dlgAbout-head {
	background-image: url(./images/about.png);
}

#dlgAbout-logo {
	float: left;
	margin: 0px 8px 0 15px;
}

#dlgAbout-name {
	font-size: 1.5em;
	font-weight: bold;
}

#dlgAbout-credits {
	margin-top: 10px;
}

#dlgAbout-credits div {
	margin: 2px 5px 5px 5px;
}

#dlgAbout #mootools {
	margin: 10px 0 0 0;
	text-align: center;
}


/**************************************************
 * DIALOG: Add Torrent
 **************************************************/

#dlgAdd {
	width: 30em;
}

#dlgAdd-head {
	background-image: url(./images/add.png);
}

#dlgAdd .dlg-body .fbox,
#dlgAdd .dlg-body .tbox {
	width: 22em;
}


/**************************************************
 * DIALOG: Add URL
 **************************************************/

#dlgAddURL {
	width: 31em;
}

#dlgAddURL-head {
	background-image: url(./images/world.png);
}

#dlgAddURL .dlg-body .tbox {
	width: 23em;
}


/**************************************************
 * DIALOG: Add Label
 **************************************************/

#dlgAddLabel-head {
	background-image: url(./images/props.png);
}


/**************************************************
 * DIALOG: Properties
 **************************************************/

#dlgProps {
	width: 31em;
}

#dlgProps-head {
	background-image: url(./images/props.png);
}

#prop-trackers {
	height: 4em;
}


/**************************************************
 * DIALOG: Add/Edit RSS Feed
 **************************************************/

#dlgAddEditRSSFeed {
	width: 32em;
}

#dlgAddEditRSSFeed-head {
	background-image: url(./images/feed.png);
}

#dlgAddEditRSSFeed .dlg-body .tbox {
	width: 20em;
}


/**************************************************
 * DIALOG: RSS Downloader
 **************************************************/

#dlgRSSDownloader {
	width: 700px;
}

#dlgRSSDownloader-head {
	background-image: url(./images/feed.png);
}

#dlgRSSDownloader-content {
	background: #FFFFFF;
	border: 1px solid #868686;
	height: 350px;
	padding: 3px;
	position: relative;
}

#dlgRSSDownloader-feedsMenu,
#dlgRSSDownloader-filtersMenu {
	background-color: #FFFFFF;
	border: 1px solid #868686;
	bottom: 3px;
	left: 3px;
	overflow: auto;
	position: absolute;
	top: 3px;
	width: 150px;
}

#dlgRSSDownloader-feedsMenu > div,
#dlgRSSDownloader-filtersMenu > div {
	min-width: 100%;
}

#dlgRSSDownloader-feeds,
#dlgRSSDownloader-filters {
	list-style: none;
	white-space: nowrap;
}

#dlgRSSDownloader-feeds li,
#dlgRSSDownloader-filters li {
	cursor: pointer;
	padding: 2px 4px 2px 22px;
	position: relative;
}

#dlgRSSDownloader-feeds li.sel,
#dlgRSSDownloader-filters li.sel {
	background-color: #C0C0C0;
	color: #FFFFFF;
}

#dlgRSSDownloader-feedItemList,
#dlgRSSDownloader-filterSettings {
	bottom: 3px;
	left: 158px;
	margin: 0;
	position: absolute;
	right: 3px;
	top: 3px;
}

/* Feeds Tab */

#dlgRSSDownloader-feeds li .icon {
	background: transparent url(./images/tstatus.png) no-repeat 0 -208px;
	clip: rect(0 16px 16px 0);
	left: 0;
	margin: -8px 3px;
	padding: 8px;
	position: absolute;
	top: 50%;
}

#dlgRSSDownloader-feeds li.disabled .icon {
	background-position: 0 -32px;
}

.RSS_New .icon { background: transparent url(./images/tstatus.png) no-repeat 0 -272px !important; }
.RSS_Old .icon { background: transparent url(./images/tstatus.png) no-repeat 0 -208px !important; }
.RSS_Added .icon { background: transparent url(./images/tstatus.png) no-repeat 0 -288px !important; }

/* Favorites Tab */

#dlgRSSDownloader-filters li input {
	left: 0;
	margin: -6px 5px;
	position: absolute;
	top: 50%;
	vertical-align: text-top;
}

#rssfilter_edit_control {
	bottom: 5px;
	display: none;
	position: absolute;
	right: 5px;
}

#rssfilter_name,
#rssfilter_filter,
#rssfilter_not,
#rssfilter_save_in,
#rssfilter_feed,
#rssfilter_quality {
	width: 450px;
}

#rssfilter_quality {
	text-align: center;
}

#rssfilter_min_interval,
#rssfilter_label {
	width: 375px;
}

/**************************************************
 * DIALOG: Settings
 **************************************************/

#dlgSettings {
	width: 650px;
}

#dlgSettings-head {
	background-image: url(./images/settings.png);
}

#dlgSettings-menuCont {
	background-color: #FFFFFF;
	border-right: 1px solid #D0D0D0;
	bottom: 0;
	display: block !important;
	left: 0;
	overflow: auto;
	position: absolute;
	top: 0;
	width: 120px;
}

#dlgSettings-menuCont > div {
	display: block !important;
	min-width: 100%;
}

#dlgSettings-menu {
	list-style: none;
	white-space: nowrap;
}

#dlgSettings-menu li a {
	display: block;
	padding: 2px 6px;
}

#dlgSettings-menu li.selected a {
	background-color: #0099FF;
	color: #FFFFFF;
}

#dlgSettings .dlg-body {
	padding: 0;
}

#dlgSettings .settings-pane {
	height: 350px;
	left: 120px;
	overflow: auto;
	padding: 5px 10px;
	position: relative;
	width: 510px;
}

/* General */

select[id="webui.lang"] { width: 360px; }

/* UI Settings */

select[id="gui.dblclick_seed"],
select[id="gui.dblclick_dl"] {
	width: 290px;
}

/* Connection */

#DLG_SETTINGS_4_CONN_11,
#DLG_SETTINGS_4_CONN_16 {
	margin-right: 5px;
}

#DLG_SETTINGS_4_CONN_13,
#DLG_SETTINGS_4_CONN_18 {
	margin: 0 5px 0 25px;
}

select[id="proxy.type"] { margin-left: 3px; }
input[id="proxy.proxy"] { width: 140px; }
input[id="proxy.port"] { width: 45px; }
input[id="proxy.username"] { width: 90px; }
input[id="proxy.password"] { width: 70px; }

/* BitTorrent */

#tracker_ip { width: 245px; }
#encryption_mode { margin-left: 3px; }

/* Transfer Cap */

#multi_day_transfer_mode,
#multi_day_transfer_limit_value,
#multi_day_transfer_limit_unit,
#multi_day_transfer_limit_span {
	margin-left: 3px;
}

/* Scheduler */

#sched_table {
	-moz-user-select: none;
	border-collapse: collapse;
	width: 100%;
}

#sched_table * {
	-webkit-user-select: ignore !important;
	font-size: 0.95em;
	font-weight: bold;
}

#sched_table_lgnd ul {
	float: right;
	list-style: none;
	margin: 5px 0 0 16px;
}

#sched_table_lgnd .block {
	padding: 0 6px;
	margin: 0 5px;
}

#sched_table_info {
	line-height: 1.1em;
	padding: 5px;
	width: 200px;
}

#dlgSettings-Scheduler .daycode {
	padding-right: 3px;
	text-align: right;
	white-space: nowrap;
}

#dlgSettings-Scheduler .block {
	border: 1px solid #000000;
	height: 2em;
	width: 2em;
}

#dlgSettings-Scheduler .mode0 { background-color: #00A800; }
#dlgSettings-Scheduler .mode0:hover { background-color: #009300; }
#dlgSettings-Scheduler .disabled .mode0 { background-color: #545454; }

#dlgSettings-Scheduler .mode1 { background-color: #8DCE8D; }
#dlgSettings-Scheduler .mode1:hover { background-color: #7BB47B; }
#dlgSettings-Scheduler .disabled .mode1 { background-color: #8E8E8E; }

#dlgSettings-Scheduler .mode2 { background-color: #FFFFFF; }
#dlgSettings-Scheduler .mode2:hover { background-color: #DFDFDF; }
#dlgSettings-Scheduler .disabled .mode2 { background-color: #FFFFFF; }

#dlgSettings-Scheduler .mode3 { background-color: #FFC0C0; }
#dlgSettings-Scheduler .mode3:hover { background-color: #DFA8A8; }
#dlgSettings-Scheduler .disabled .mode3 { background-color: #D0D0D0; }

/* Web UI */

#DLG_SETTINGS_9_WEBUI_03,
#DLG_SETTINGS_9_WEBUI_05 {
	float: left;
}

input[id="webui.username"],
input[id="webui.password"],
input[id="webui.guest"] {
	float: right;
	margin-left: 3px;
	width: 135px;
}

/* Advanced */

#dlgSettings-advOptInput {
	height: 1.5em;
	line-height: 1.3em;
	margin-top: 3px;
	padding: 0.1em 0;
	position: relative;
}

#dlgSettings-advOptInput input {
	vertical-align: baseline;
}

#dlgSettings-advBool-cont,
#dlgSettings-advText-cont {
	display: none;
	left: 4em;
	position: absolute;
	right: 0;
}

#dlgSettings-advText-wrap {
	left: 0;
	margin-right: 5px;
	position: absolute;
	right: 6em;
}

#dlgSettings-advText {
	width: 100%;
}

#DLG_SETTINGS_A_ADVANCED_05 {
	float: right;
	margin-top: 1px;
	width: 6em;
}

/* UI Extras */

input[id="gui.ulrate_menu"],
input[id="gui.dlrate_menu"] {
	width: 300px;
}

#search_list {
	height: 75px;
}

/* Hide Unknown Settings */

#dlgSettings .dlg-body div,
#dlgSettings .dlg-body fieldset {
	display: none;
}

#total_uploaded_history,
#total_downloaded_history,
#total_updown_history,
#history_period,
#sched_table_lgnd,
#sched_table_info,
#DLG_SETTINGS_C_ADV_CACHE_02,
#DLG_SETTINGS_C_ADV_RUN_06 {
	display: block !important;
}

/*
NOTE: The following is an ugly hack, but a necessary one if we want the settings
      to remain scalable.
*/

#dlgSettings .dlg-body .stable,
#dlgSettings .dlg-body .stable div {
	display: block !important;
}


/**************************************************
 * MENU
 **************************************************/

div.CMenu {
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.30), 0 0 4px rgba(0, 0, 0, 0.20);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.30), 0 0 4px rgba(0, 0, 0, 0.20);
	background: #F8F8F8;
	border: 1px solid #A7A6AA;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.30), 0 0 4px rgba(0, 0, 0, 0.20);
	display: none;
	overflow-y: hidden;
	position: fixed;
	z-index: 100000;
}

div.CMenu ul {
	background-color: #F8F8F8;
	list-style: none;
	padding: 2px;
	position: relative;
}

div.CMenu li {
	word-wrap: break-word;
}

div.CMenu ul li.sep {
	border-top: 1px solid #D0D0D0;
	font-size: 0;
	height: 0;
	line-height: 0;
	margin: 2px 5px;
}

div.CMenu a {
	color: #686868;
	display: block;
	font-weight: normal;
	padding: 2px 26px 2px 18px;
}

div.CMenu a.dis {
	background-color: #F8F8F8 !important;
	color: #C0C0C0 !important;
}

div.CMenu a.exp { background: transparent url(./images/menuexp.png) no-repeat scroll 0 center; }
div.CMenu a.sel { background: transparent url(./images/menusel.png) no-repeat scroll 5px center; }
div.CMenu a.check { background: transparent url(./images/menucheck.png) no-repeat scroll 5px center; }

div.CMenu li:hover > a { background-color: #0099FF; color: #FFFFFF; }
