name: Coverage

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  generate_and_upload_report:
    name: Generate and upload coverage report
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./requirements-test.txt

      - name: Run Pytest with Coverage
        run: |
          coverage run --source=./src/tribler/core -p -m pytest ./src/tribler/core
          coverage run --source=./src/tribler/core -p -m pytest ./src/tribler/core/components/tunnel/tests/test_full_session --tunneltests
          coverage combine
          coverage xml

      - name: Upload to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_PROJECT_TOKEN }} # during `pull_request` event this field is empty
          files: ./coverage.xml

      - name: Upload to Codacy
        if: github.event_name == 'push'
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: ./coverage.xml
