name: GUI test

on:
  workflow_call:
    inputs:
      python-version:
        default: 3.8
        type: string
        required: false

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [ '3.8' ]
        os: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v3

      - name: Create python environment
        uses: ./.github/actions/pyenv
        with:
          python-version: ${{inputs.python-version}}
          requirements: requirements-test.txt

      - name: Install xvfb dependencies
        run: |
          sudo apt install xvfb libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xfixes0 xdotool pyqt5-dev-tools
        # For more information see: https://pytest-qt.readthedocs.io/en/latest/troubleshooting.html#github-actions

      - name: Run GUI tests
        run: |
          xvfb-run  pytest ./src/tribler/gui --guitests -v --randomly-seed=1

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: screenshots
          path: ./src/tribler/gui/screenshots/
          retention-days: 1
