name: Pytest

on:
  workflow_call:
    inputs:
      python-version:
        default: 3.8
        type: string
        required: false

      matrix:
        default: '{"os":["windows-latest", "macos-latest", "ubuntu-latest"]}'
        type: string
        required: false

      enable_profiling:
        default: false
        type: boolean
        required: false

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix: ${{fromJson(inputs.matrix)}}

    defaults:
      run:
        shell: bash

    timeout-minutes: 10

    env:
      PYTEST_CORE_ARGUMENTS: ./src/tribler/core
      PYTEST_TUNNELS_ARGUMENTS: ./src/tribler/core/components/tunnel/tests/test_full_session --tunneltests

      PYTEST_COMMON_ARGUMENTS: --exitfirst --disable-warnings

    steps:
      - uses: actions/checkout@v3

      - name: Create python environment
        uses: ./.github/actions/pyenv
        with:
          python-version: ${{inputs.python-version}}
          requirements: requirements-test.txt

      - name: Install dependencies (Windows)
        if: runner.os == 'Windows'
        uses: ./.github/actions/windows_dependencies

      - name: Add --looptime
        if: runner.os != 'Windows'
        run: |
          echo "PYTEST_COMMON_ARGUMENTS=$PYTEST_COMMON_ARGUMENTS --looptime" >> $GITHUB_ENV

      - name: Run Pytest
        if: ${{!inputs.enable_profiling}}
        run: |
          pytest ${PYTEST_CORE_ARGUMENTS} ${PYTEST_COMMON_ARGUMENTS}

      - name: Run Pytest (Profiler)
        if: ${{inputs.enable_profiling}}
        uses: ./.github/actions/profile
        with:
          artifact_name: pytest_prof.svg
          arguments: ${PYTEST_CORE_ARGUMENTS} ${PYTEST_COMMON_ARGUMENTS}

      - name: Run Tunnels Tests
        if: ${{!inputs.enable_profiling}}
        run: |
          pytest ${PYTEST_TUNNELS_ARGUMENTS} ${PYTEST_COMMON_ARGUMENTS}

      - name: Run Tunnel Tests (Profiler)
        if: ${{inputs.enable_profiling}}
        uses: ./.github/actions/profile
        with:
          artifact_name: tunneltest_prof.svg
          arguments: ${PYTEST_TUNNELS_ARGUMENTS} ${PYTEST_COMMON_ARGUMENTS}
