name: Pytest

on:
  workflow_call:
    inputs:
      python-version:
        default: 3.8
        type: string
        required: false

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]
        include:
          - os: macos-latest
            pytest-arguments: --timeout=300 --looptime
          - os: windows-latest
            pytest-arguments: --timeout=300
          - os: ubuntu-latest
            pytest-arguments: --timeout=60 --looptime

    steps:
      - uses: actions/checkout@v3

      - name: Create python environment
        uses: ./.github/actions/pyenv
        with:
          python-version: ${{inputs.python-version}}
          requirements: requirements-test.txt

      - name: Install Libsodium (win)
        if: matrix.os == 'windows-latest'
        run: |
          C:\msys64\usr\bin\wget.exe -q https://download.libsodium.org/libsodium/releases/libsodium-1.0.17-msvc.zip
          7z x libsodium-1.0.17-msvc.zip
          copy ./x64/Release/v141/dynamic/libsodium.dll C:\Windows\system32\

      - name: Run Pytest
        run: |
          pytest ./src/tribler/core ${{matrix.pytest-arguments}}

      - name: Run Tunnels Tests
        run: |
          pytest ./src/tribler/core/components/tunnel/tests/test_full_session --tunneltests ${{matrix.pytest-arguments}}
