name: Scripts Test

on:
  workflow_call:
    inputs:
      python-version:
        default: 3.9
        type: string
        required: false

      duration:
        default: 10s
        type: string
        required: false

      ref:
        default: ${{ github.ref }}
        type: string
        required: false

permissions:
  contents: read

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{inputs.ref}}

      - name: Create python environment
        uses: ./.github/actions/pyenv
        with:
          python-version: ${{inputs.python-version}}
          requirements: ./scripts/requirements.txt
          custom_cache_key_element: ${{inputs.ref}}

      - name: Add Tribler to PYTHONPATH
        uses: ./.github/actions/add-pythonpath
        with:
          path: ./src

      - name: run_crawler.py
        uses: ./.github/actions/timeout
        with:
          command: python ./scripts/crawler/run_crawler.py --fragile
          duration: ${{inputs.duration}}

      - name: run_exit_node.py
        uses: ./.github/actions/timeout
        env:
          HELPER_INDEX: 1000
          HELPER_BASE: 2000
        with:
          command: python ./scripts/exit_node/run_exit_node.py --testnet --fragile
          duration: ${{inputs.duration}}

      #experiments

      - name: hidden_peer_discovery.py
        uses: ./.github/actions/timeout
        with:
          command: python ./scripts/experiments/tunnel_community/hidden_peer_discovery.py --fragile
          duration: ${{inputs.duration}}

      - name: speed_test_e2e.py
        uses: ./.github/actions/timeout
        with:
          command: python ./scripts/experiments/tunnel_community/speed_test_e2e.py --fragile
          duration: ${{inputs.duration}}

      - name: speed_test_exit.py
        uses: ./.github/actions/timeout
        with:
          command: python ./scripts/experiments/tunnel_community/speed_test_exit.py --fragile
          duration: ${{inputs.duration}}

